.EmblaCarousel {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.embla__container {
  display: flex;
}
.embla__controls {
  display: flex;
  justify-content: end;
  gap: 1.2rem;
  align-items: center;
}
.embla__controls_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  margin-bottom: 3%;
}
.embla__thumbs_viewport {
  display: none;
  /* padding: 10px 20px; */
}
@media (min-width: 500px) {
  .embla__thumbs_viewport {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .embla__thumbs_viewport {
    display: flex;
  }
}

.embla__thumbs_container {
  display: flex;
  align-items: center;
  gap: 15px;
}
