.content {
  width: 100%;
}

.embla__slide {
  min-width: 100%;
  height: 100vh;
  position: relative;
}
.embla__slide_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.embla__slide_content .content {
  display: flex;
  justify-content: center;
  width: 100%;
}
