#KR {
  font-family: 'NanumSquare';
  font-size: 14px;
}

.conetent_box {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: center;
}

.conetent_box.conetent_box_3 {
  flex-direction: column;
  align-items: center;
}
.image_box {
  background-color: rgb(95 228 182 / 20%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  min-height: 200px;
  width: 70%;
  word-break: break-all;
  height: 100%;
}
.conetent_box.conetent_box_3 .image_box {
  padding: 20px;
  align-items: flex-start;
  width: 65%;
  min-height: 240px;
  justify-content: flex-start;
  height: 100%;
}
.conetent_box.conetent_box_3 .image_box h1 {
  font-size: 16px;
}
.conetent_box.conetent_box_3 .image_box div {
  margin-bottom: 5px;
}
.skill_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-top: 10px;
  gap: 14px;
  flex-direction: column;
}
.skill_wrapper #KR {
  font-size: 14px;
  line-height: 1;
}
.image_box h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.image_box div {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}
.image_box #KR {
  color: #ccc;
  line-height: 1.8;
}
.conetent_box .image_box svg {
  width: 24px;
  height: 24px;
  fill: #5fe4b6;
  margin-bottom: 20px;
}
.image_box:hover,
.image_box:active {
  background-color: #222;
  border-color: #5fe4b6;
}
@media (min-width: 750px) {
  .image_box {
    min-height: 260px;
    width: 30%;
  }
  .conetent_box.conetent_box_3 {
    flex-direction: row;
  }
  .conetent_box.conetent_box_3 .image_box {
    padding: 30px;
    min-height: 300px;
    width: 36%;
  }
  .conetent_box.conetent_box_3 .image_box h1 {
    font-size: 18px;
  }
  .conetent_box.conetent_box_3 .image_box div {
    margin-bottom: 10px;
  }
  .skill_wrapper {
    margin-top: 20px;
  }
  .skill_wrapper #KR {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .image_box {
    min-height: 260px;
    width: 26%;
  }
  .conetent_box.conetent_box_3 {
    flex-direction: row;
  }
  .conetent_box.conetent_box_3 .image_box {
    padding: 30px;
    min-height: 300px;
    width: 36%;
  }
  .conetent_box.conetent_box_3 .image_box h1 {
    font-size: 18px;
  }
  .conetent_box.conetent_box_3 .image_box div {
    margin-bottom: 10px;
  }
  .skill_wrapper {
    margin-top: 20px;
  }
  .skill_wrapper #KR {
    font-size: 16px;
  }
}

.conetent_box.conetent_box_3 .image_box svg {
  width: 14px;
  height: 14px;
  margin-bottom: 0;
}
.skill_box {
  display: flex;
  gap: 10px;
}
